

.menu-btn {
    position: absolute;
    right: 38px;
    top: 27px;
    z-index: 100;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: transform .5s ease-in-out;
    
    
    &__burger {
        position: absolute;
        right: 0;
        top: 0;
        width: 28px;
        height: 3px;
        background-color: white;
        @include transition;

        &::before{
            content: ' ';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px; 
            background-color: white;
            @include transition;
        }

        &::after{
            content: ' ';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px; 
            background-color: white;
            @include transition;
        }

        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(3px,-7px);
            }
        }
    }
}

.navbar{
    position: absolute;
    background-color: #ef6466a1;
    width: 100vw;
    height: 11vh;

    img:first-child{
        height: 50px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    img:last-child{
        height: 29px;
        position: absolute;
        top: 18px;
        right: 96px;
    }

}



.nav {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100vw;
    opacity: 0.9;
    visibility: hidden;

    &.open {
        visibility: visible;
    }

    .menu-nav {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: #ef6466;
        list-style: none;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition;

        &.open {
            transform: translateY(0);
        }

        &_item:nth-child(2),&_item:nth-child(4){
            transform: translateX(-100vw);
        }

        &_item {
            transform: translateX(100vw);
            @include transition;

            &.open {
                
                transform: translateX(0);
            }

            
            a {
                display: inline-block;
                color: #fff;
                font-size: 20px;
                text-transform: uppercase;
                padding: 2rem 0;
                font-weight: 300;
                @include transition;

                &.active,
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}

@for $i from 1 through 5 {
    .menu-nav_item:nth-child(#{$i}){
        transition-delay: ($i * 0.1s) + 0.4s;
    }
}